
img{
		max-width: 20%;
		height: auto;
		padding: 0;
		margin: 0
}

	
	

		
		
	

		

#container {
    background: #d2860d55;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  p{
    text-align: center;
    color:#0a0a0a;
  }
h1{
  color: rgb(20, 10, 73);
}

  html, body {
    height: 100%;
}
body {
    margin: 0;
}
/*Flex Container*/
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Flex Container Body*/
.flex-container .row {
    border: 1px solid rgb(29, 15, 222);
    border-radius: 10px 10px 10px 10px;
    background-color: #8eb3f8;
    width: 600px;
}
/*Flex Container Title Text*/
.flex-container .col1 p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
/*Flex Container Content Shift*/
.flex-item p {
    margin: 0;
    padding: 5px;
    color: #000;
}
/*Flex Container Text Link*/
.flex-item p a {
    color: #4b67ba;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
/*Flex Container Text Link Hover*/
.flex-item p a:hover {
    color: #0b0f24;
}



