.container {
    display: block;
    padding: 1rem;
  }
  
  .link, .link:link {
    display: block;
    background-color: skyblue;
    padding: .5rem 1rem;
    width: 4rem;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    transition: all .25s ease;
  }
  
  .link:focus, .link:hover {
    box-shadow: 1px 3px 3px 0 rgba(50, 50, 50 ,0.5);
    text-decoration: underline;
  }
  
  .link:focus {
    background-color: orange;
  }
  
  .link:visited {
    background-color: purple;
  }
  
  .link:hover {
    background-color: darkblue;
  }
  
  sector {
    padding: 2rem;
  }
  
  .table > div {
    display: block;
    height: 2rem;
    width: calc(100% - 1rem);
    padding: .5rem;
    margin-bottom: .5rem;
  }
  
  .table > div > div {
    display: inline-block;
    height: 2rem;
    width: calc((100% / 8) - 2rem);
    padding: .5rem;
    margin: .25rem;
    background-color: gray;
    color: white;
    font-family: sans-serif;
    transition: all .5s easy;
  }
  
  .table > div:nth-child(3n + 1) > div:nth-child(4n):hover {
    background-color: red;
  } 
  
  .table > div:nth-child(4n - 1) > div:nth-child(4n + 3):hover {
    background-color: orange;
  } 
  
  .table > div:nth-child(odd) > div:nth-child(4n + 1):hover {
    background-color: green;
  }
  
  .table > div:last-child > div:nth-child(even):hover {
    background-color: darkblue;
  }
  
  .table > div:nth-child(7) > div:nth-child(7):hover {
    background-color: gold;
    transition: transform 2s linear;
    transform: rotate(360deg);
  }
  
  .table > div:nth-child(7) > div:nth-child(7):hover::after {
    content: 'whieee!!!';
    color: white;
    padding: .25rem;
    font-size: .75rem;
    border-radius: 2px;
    background-color: skyblue;
    display: block;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
  }