*,
*::before,
*::after{
  box-sizing: border-box;
  /*  1  */
}


/*  2. Removing all the margins and paddings
------------------------------------------*/
*{
  margin: 0;
  /*  2  */
  padding: 0;
  /*  2  */
}

/* 3. Color 
 * 4. Typography; size, height and family
 * 5. Background color 
------------------------------------------*/
body{
  color: rgb(32, 32, 33);
  /*  3  */
  font-size: 1rem;
  /*  4  */
  font-weight: 400;
  /*  4  */
  /*  4  */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /*  4  */
  background-color: hsl(0, 0%, 100%); 
  /*  5  */
}

input,
button,
select,
textarea{
  color: inherit;
  /*  3  */
  font-family: inherit;
  /*  4  */
  font-size: inherit;
  /*  4  */
  line-height: inherit;
  /*  4  */
  letter-spacing: inherit;
  /*  4  */
}

/*  6. Making sure hidden will not display
------------------------------------------*/
[hidden] {
  display: none !important;
  /*  6  */
}


/* ************************************************* 
** CSS
** ************************************************* */
body{
  background: #FEFEFE;  /* fallback for old browsers */
 }

/*  Wrapper to be used with BODY as parent 
------------------------------------------*/
.container{
  width: 50vw;
  position: relative;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem; 
}

.mx-card{
  min-width: 320px;
  max-width: 1024px;
  width: 100%;
  position: relative;
  
  /*  Optional styling   */
  background-color: hsl(0, 0%, 100%); 
  border-radius: 2px;
-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}





